<form class="form-search">
	<div class="input-append">
		<input type="text" ng-model="pattern" class="search-query"
			style="width: 80px">
		<button ng-click="restsearch()" type="submit" class="btn">Search
			a label</button>
	</div>
	<ul class="nav nav-pills nav-stacked">
		<li>{{searchMessage}}</li>
		<li ng-animate="'animate'"
			ng-repeat="concept in result | filter:{preflabel:pattern}"><a
			href="#"> {{concept.preflabel}} - {{concept.skosNotation}} </a></li>
	</ul>
</form>

