<script>
$(".tooltiped").tooltip();
</script>

<div>
	Tooltips for button use : <span class="btn btn-mini tooltiped"
		data-toggle="tooltip" data-placement="bottom" title=""
		data-original-title="come back to upper element."><i
		class="icon-circle-arrow-up"></i></span> <span class="btn btn-mini tooltiped"
		data-toggle="tooltip" data-placement="bottom" title=""
		data-original-title="show me this element informations."><i
		class="icon-zoom-in"></i></span> <span class="btn btn-mini tooltiped"
		data-toggle="tooltip" data-placement="bottom" title=""
		data-original-title="close this element informations."><i
		class="icon-zoom-out"></i></span> <span class="btn btn-mini tooltiped"
		data-toggle="tooltip" data-placement="bottom" title=""
		data-original-title="show me the list of this element's members."><i
		class="icon-plus"></i></span> <span
		class="btn btn-mini btn-inverse tooltiped" data-toggle="tooltip"
		data-placement="bottom" title=""
		data-original-title="show me a hierarchical view of this element's  members."><i
		class="icon-plus icon-white"></i></span> <span
		class="btn btn-mini btn-danger tooltiped" data-toggle="tooltip"
		data-placement="bottom" title=""
		data-original-title="show me the sub terms of this term (or related term).[Hierarchical view]"><i
		class="icon-arrow-down icon-white"></i></span>

</div>

<div>
	&nbsp;
	<div class="form-search">
		&nbsp;<i class="badge badge-warning" ng-show="experimental"><img
			src="img/ajax-loader.gif">&nbsp;yep... it's experimental..</i><i
			class="badge" ng-hide="experimental">&nbsp;Some features could be
			long...</i>
	</div>
</div>
<div id="navform" ng-submit="show()" class="form-search"
	ng-disabled="experimental">
	<legend>Experimental View </legend>
	<div class="btn-toolbar">
		<div class="btn-group">
			<a class="btn btn-mini" href="" ng-click="explore(root.memberOfUri)"><i
				class="icon-circle-arrow-up"></i></a> <a class="btn btn-mini" href=""
				ng-click="show(root)"><i class="icon-zoom-in"></i></a> <a
				class="btn btn-mini" href="" ng-click="explore(root.uri)"
				ng-hide="( (root.metadata | uriLastElement) == 'CE_CD' )  || ( (root.metadata | uriLastElement) == 'CE_PQ') || ( (root.metadata | uriLastElement) == 'CE_CO') || ( (root.metadata | uriLastElement) == 'CE_TS')">
				<i class="icon-plus"></i>
			</a> <a class="btn btn-mini btn-danger" href=""
				ng-click="showSubTerms(root.uri,root.relatedTerm.uri)"
				ng-hide="( (root.metadata | uriLastElement) == 'TOPCAT' )  || ( (root.metadata | uriLastElement) == 'ROOT')"><i
				class="icon-arrow-down icon-white"></i></a> <a
				class="btn btn-mini btn-inverse" href=""
				ng-click="getRelatedSchemes(root.uri)"
				ng-show="( (root.metadata | uriLastElement) == 'TOPCAT' )  || ( (root.metadata | uriLastElement) == 'CE_VS')">
				<i class="icon-plus  icon-white"></i>
			</a>
		</div>
		<label class="control-label">&nbsp;&nbsp;<span class="label">{{root.metadata
				| uriLastElement}}</span>&nbsp;&nbsp;<span
			class=" {{(zoomOn==root) &&  'label label-info' || '' }}">{{root.label}}</span>
			&nbsp;&nbsp;<a class="btn btn-mini" href="" ng-click="unshow(zoomOn)"
			ng-show="(showed !=null) && (zoomOn==root)"><i
				class="icon-zoom-out"></i></a></label>
	</div>

	<div class="form-search"
		ng-repeat="scheme in relatedSchemes | orderBy : 'label' ">
		<div class="btn-toolbar"
			ng-show="(relatedSchemes != null)  && ( focusOnScheme == null || focusOnScheme.uri == scheme.uri )">
			<label class="control-label">&nbsp;&nbsp;<i
				class="icon-minus"></i>&nbsp;&nbsp;
			</label>
			<div class="btn-group">
				<a class="btn btn-mini" href="" ng-click="showScheme(scheme)"><i
					class="icon-zoom-in"></i></a> <a class="btn btn-mini btn-danger"
					href="" ng-click="showSpecialTopTerms(scheme)"
					ng-hide="( (member.metadata | uriLastElement) == 'TOPCAT' )  || ( (member.metadata | uriLastElement) == 'ROOT')"><i
					class="icon-arrow-down icon-white"></i></a>
			</div>
			<label class="control-label">&nbsp;&nbsp;<span
				class="label label-success">SCHEME</span>&nbsp;&nbsp;<span>{{scheme.label}}</span>&nbsp;&nbsp;
			</label>

		</div>
	</div>

	<div class="form-search" ng-repeat="level in specialTermHistory ">
		<div class="btn-toolbar"
			ng-show="hideView==false || (level.uri==showedSubTerm)">
			<label class="control-label">{{$index+2 | goodtab}}<i
				class="icon-minus"></i>&nbsp;&nbsp;
			</label>
			<div class="btn-group">
				<a class="btn btn-mini" href="" ng-click="showTerm(level)"><i
					class="icon-zoom-in"></i></a> <a class="btn btn-mini  btn-danger"
					href="" ng-click="showSpecialSubTermsComingFromHistory(level)"><i
					class="icon-arrow-down icon-white"></i></a>
			</div>
			<label class="control-label">&nbsp;&nbsp;<span
				class="label label-important">HIER</span>&nbsp;&nbsp; <span
				class=" {{(zoomOnSubTerm==level) &&  'label label-info' || '' }}">{{level.preflabel}}</span>&nbsp;&nbsp;
				<a class="btn btn-mini" href="" ng-click="unShowTerm(zoomOnSubTerm)"
				ng-show="(showedSubTerm !=null) && (zoomOnSubTerm==level)"><i
					class="icon-zoom-out"></i></a> &nbsp;&nbsp;
			</label>
		</div>

	</div>


	<div class="form-search"
		ng-repeat="term in specialSubTerms | orderBy : 'preflabel' ">
		<div class="btn-toolbar"
			ng-show="hideView==false || (term.uri==showedSubTerm)">
			<label class="control-label">{{specialTermHistory.length+2 |
				goodtab}}<i class="icon-minus"></i>&nbsp;&nbsp;
			</label>
			<div class="btn-group">
				<a class="btn btn-mini" href="" ng-click="showTerm(term)"><i
					class="icon-zoom-in"></i></a> <a class="btn btn-mini btn-danger"
					href="" ng-click="showSpecialSubTerms(term)"
					ng-hide="( (member.metadata | uriLastElement) == 'TOPCAT' )  || ( (member.metadata | uriLastElement) == 'ROOT')"><i
					class="icon-arrow-down icon-white"></i></a>
			</div>
			<label class="control-label">&nbsp;&nbsp;<span
				class="label label-success">TERM</span>&nbsp;&nbsp;<span>{{term.preflabel}}</span>&nbsp;&nbsp;
				<a class="btn btn-mini" href="" ng-click="unShowTerm(zoomOnSubTerm)"
				ng-show="(showedSubTerm !=null) && (zoomOnSubTerm==term)"><i
					class="icon-zoom-out"></i></a> &nbsp;&nbsp;
			</label> </label>

		</div>
	</div>

	<div class="form-search"
		ng-repeat="member in root.members | orderBy : ['metadata','label']"
		ng-hide="relatedSchemes !=null || specialSubTerms !=null">
		<div class="btn-toolbar"
			ng-show="showed==null || showed == member.uri">
			<label class="control-label">&nbsp;&nbsp;<i
				class="icon-minus"></i>&nbsp;&nbsp;
			</label>
			<div class="btn-group">
				<a class="btn btn-mini" href="" ng-click="show(member)"><i
					class="icon-zoom-in"></i></a> <a class="btn btn-mini" href=""
					ng-click="explore(member.uri)"
					ng-hide="( (member.metadata | uriLastElement) == 'CE_CD' )  || ( (member.metadata | uriLastElement) == 'CE_PQ') || ( (member.metadata | uriLastElement) == 'CE_CO') || ( (member.metadata | uriLastElement) == 'CE_TS')">
					<i class="icon-plus"></i>
				</a> <a class="btn btn-mini btn-inverse" href=""
					ng-click="getRelatedSchemes(member.uri)"
					ng-hide="( (member.metadata | uriLastElement) == 'CE_CD' )  || ( (member.metadata | uriLastElement) == 'CE_PQ') || ( (member.metadata | uriLastElement) == 'CE_CO') || ( (member.metadata | uriLastElement) == 'CE_TS')">
					<i class="icon-plus  icon-white"></i>
				</a> <a class="btn btn-mini btn-danger" href=""
					ng-click="showSubTerms(member.uri,member.relatedTerm.uri,null)"
					ng-hide="( (member.metadata | uriLastElement) == 'TOPCAT' )  || ( (member.metadata | uriLastElement) == 'ROOT')"><i
					class="icon-arrow-down icon-white"></i></a>
			</div>
			<label class="control-label">&nbsp;&nbsp;<span class="label">{{member.metadata
					| uriLastElement}}</span>&nbsp;&nbsp;<span
				class=" {{(zoomOn==member) &&  'label label-info' || '' }}">{{member.label}}</span>&nbsp;&nbsp;
				<a class="btn btn-mini" href="" ng-click="unshowForLeaf(zoomOn)"
				ng-show="(showed !=null) && (zoomOn==member)"><i
					class="icon-zoom-out"></i></a></label>
		</div>

	</div>




	<div class="form-search"
		ng-repeat="member in specialElements | orderBy : ['metadata','label']">
		<div class="btn-toolbar" ng-show="showed==null || member.uri==showed">
			<label class="control-label">{{specialTermHistory.length+2 |
				goodtab}}<i class="icon-minus"></i>&nbsp;&nbsp;
			</label>
			<div class="btn-group">
				<a class="btn btn-mini" href="" ng-click="show(member)"><i
					class="icon-zoom-in"></i></a> <a class="btn btn-mini" href=""
					ng-click="explore(member.uri)"
					ng-hide="( (member.metadata | uriLastElement) == 'CE_CD' )  || ( (member.metadata | uriLastElement) == 'CE_PQ') || ( (member.metadata | uriLastElement) == 'CE_CO') || ( (member.metadata | uriLastElement) == 'CE_TS')">
					<i class="icon-plus"></i>
				</a> <a class="btn btn-mini btn-inverse" href=""
					ng-click="getRelatedSchemes(member.uri)"
					ng-hide="( (member.metadata | uriLastElement) == 'CE_CD' )  || ( (member.metadata | uriLastElement) == 'CE_PQ') || ( (member.metadata | uriLastElement) == 'CE_CO') || ( (member.metadata | uriLastElement) == 'CE_TS')">
					<i class="icon-plus  icon-white"></i>
				</a> <a class="btn btn-mini btn-danger" href=""
					ng-click="showSubTerms(member.uri,member.relatedTerm.uri,null)"
					ng-hide="( (member.metadata | uriLastElement) == 'TOPCAT' )  || ( (member.metadata | uriLastElement) == 'ROOT')"><i
					class="icon-arrow-down icon-white"></i></a>
			</div>
			<label class="control-label">&nbsp;&nbsp;<span class="label">{{member.metadata
					| uriLastElement}}</span>&nbsp;&nbsp;<span
				class=" {{(zoomOn==member) &&  'label label-info' || '' }}">{{member.label}}</span>&nbsp;&nbsp;
				<a class="btn btn-mini" href="" ng-click="unshowForLeaf(zoomOn)"
				ng-show="(showed !=null) && (zoomOn==member)"><i
					class="icon-zoom-out"></i></a></label>
		</div>

	</div>

	<div class="form-search">
		<div ng-repeat="level in termHistory ">
			<div class="btn-toolbar"
				ng-show="hideView==false || (level.uri==showedSubTerm)">
				<label class="control-label">{{specialTermHistory.length+1+$index+2
					| goodtab}}<i class="icon-minus"></i>&nbsp;&nbsp;
				</label>
				<div class="btn-group">
					<a class="btn btn-mini" href="" ng-click="showTerm(level)"><i
						class="icon-zoom-in"></i></a> <a class="btn btn-mini  btn-danger"
						href="" ng-click="showSubTerms(null,level.uri,level)"><i
						class="icon-arrow-down "></i></a>
				</div>
				<label class="control-label">&nbsp;&nbsp;<span
					class="label label-important">SubTerm</span>&nbsp;&nbsp; <span
					class=" {{(zoomOnSubTerm==level) &&  'label label-info' || '' }}">{{level.preflabel}}</span>&nbsp;&nbsp;
					<a class="btn btn-mini" href=""
					ng-click="unShowTerm(zoomOnSubTerm)"
					ng-show="(showedSubTerm !=null) && (zoomOnSubTerm==level)"><i
						class="icon-zoom-out"></i></a> &nbsp;&nbsp;
				</label>
			</div>

		</div>
		<div
			ng-repeat="narrower in termView.narrowers | orderBy : ['preflabel','skosNotation']">
			<div class="btn-toolbar"
				ng-show="hideView==false || (narrower.uri==showedSubTerm)">
				<label class="control-label">{{specialTermHistory.length+1
					+termHistory.length+2 | goodtab}}<i class="icon-minus"></i>&nbsp;&nbsp;
				</label>
				<div class="btn-group">
					<a class="btn btn-mini" href="" ng-click="showTerm(narrower)"><i
						class="icon-zoom-in"></i></a> <a class="btn btn-mini  btn-danger"
						href="" ng-click="showSubTerms(null,narrower.uri,null)"><i
						class="icon-arrow-down icon-white"></i></a>
				</div>
				<label class="control-label">&nbsp;&nbsp;<span
					class="label label-important">SubTerm</span>&nbsp;&nbsp; <span
					class=" {{(zoomOnSubTerm==narrower) &&  'label label-info' || '' }}">{{narrower.preflabel}}</span>&nbsp;&nbsp;
					<a class="btn btn-mini" href=""
					ng-click="unShowTerm(zoomOnSubTerm)"
					ng-show="(showedSubTerm !=null) && (zoomOnSubTerm==narrower)"><i
						class="icon-zoom-out"></i></a> &nbsp;&nbsp;
				</label>
			</div>
		</div>
	</div>





	<div ng-show="zoomOn !=null && hideView==true">
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Key</th>
					<th>Value</th>
				</tr>
			</thead>
			<tr>
				<td>metadata</td>
				<td><span class="label">{{zoomOn.metadata |
						uriLastElement}}</span></td>
			</tr>
			<tr>
				<td>uri</td>
				<td>{{zoomOn.uri}}</td>
			</tr>
			<tr>
				<td>memberOfUri</td>
				<td>{{zoomOn.memberOfUri}}</td>
			</tr>
			<tr>
				<td>label</td>
				<td>{{zoomOn.label}}</td>
			</tr>
			<tr>
				<td><span class="label label-important">relatedTerm.uri</span></td>
				<td>{{zoomOn.relatedTerm.uri}}</td>
			</tr>
			<tr>
				<td><span class="label label-important">relatedTerm.codingSchemeOID</span></td>
				<td>{{zoomOn.relatedTerm.codingSchemeOID}}</td>
			</tr>
			<tr>
				<td><span class="label label-important">relatedTerm.codingSchemeName</span></td>
				<td>{{zoomOn.relatedTerm.codingSchemeName}}</td>
			</tr>
			<tr>
				<td><span class="label label-important">relatedTerm.skosNotation</span></td>
				<td>{{zoomOn.relatedTerm.skosNotation}}</td>
			</tr>
			<tr>
				<td><span class="label label-important">relatedTerm.preflabel</span></td>
				<td>{{zoomOn.relatedTerm.preflabel}}</td>
			</tr>
			<tr ng-show="zoomOn.unit!=null">
				<td>unit</td>
				<td>{{zoomOn.unit.codingSchemeName}} :
					{{zoomOn.unit.preflabel}} [{{zoomOn.unit.skosNotation}}]</td>
			</tr>
			<tr ng-show="zoomOn.value!=null">
				<td>value</td>
				<td>{{zoomOn.value}}</td>
			</tr>
		</table>
	</div>

	<div ng-show="zoomOnSubTerm !=null && hideView==true">
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Key</th>
					<th>Value</th>
				</tr>
			</thead>
			<tr>
				<td><span class="label label-important">uri</span></td>
				<td>{{zoomOnSubTerm.uri}}</td>
			</tr>
			<tr>
				<td><span class="label label-important">codingSchemeOID</span></td>
				<td>{{zoomOnSubTerm.codingSchemeOID}}</td>
			</tr>
			<tr>
				<td><span class="label label-important">codingSchemeName</span></td>
				<td>{{zoomOnSubTerm.codingSchemeName}}</td>
			</tr>
			<tr>
				<td><span class="label label-important">skosNotation</span></td>
				<td>{{zoomOnSubTerm.skosNotation}}</td>
			</tr>
			<tr>
				<td><span class="label label-important">preflabel</span></td>
				<td>{{zoomOnSubTerm.preflabel}}</td>
			</tr>
		</table>
	</div>

</div>