<script>
$(".tooltiped").tooltip();
</script>

<div>
	Tooltips for button use : <span class="btn btn-mini tooltiped"
		data-toggle="tooltip" data-placement="bottom" title=""
		data-original-title="come back to upper element."><i
		class="icon-circle-arrow-up"></i></span> <span class="btn btn-mini tooltiped"
		data-toggle="tooltip" data-placement="bottom" title=""
		data-original-title="show me this element informations."><i
		class="icon-zoom-in"></i></span> <span class="btn btn-mini tooltiped"
		data-toggle="tooltip" data-placement="bottom" title=""
		data-original-title="close this element informations."><i
		class="icon-zoom-out"></i></span> <span class="btn btn-mini tooltiped"
		data-toggle="tooltip" data-placement="bottom" title=""
		data-original-title="show me the members of this element."><i
		class="icon-plus"></i></span> <span class="btn btn-mini btn-danger tooltiped"
		data-toggle="tooltip" data-placement="bottom" title=""
		data-original-title="show me the sub terms of this term (or related term).[Hierarchical view]"><i
		class="icon-arrow-down icon-white"></i></span>

</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<form id="navform" ng-submit="show()" class="form-search">
	<legend>Navigate through the central EHR4CR DataElements.</legend>
	<div class="btn-toolbar">
		<div class="btn-group">
			<a class="btn btn-mini" href="" ng-click="explore(root.memberOfUri)"><i
				class="icon-circle-arrow-up"></i></a> <a class="btn btn-mini" href=""
				ng-click="show(root)"><i class="icon-zoom-in"></i></a> <a
				class="btn btn-mini" href="" ng-click="explore(root.uri)"
				ng-hide="( (root.metadata | uriLastElement) == 'CE_CD' )  || ( (root.metadata | uriLastElement) == 'CE_PQ') || ( (root.metadata | uriLastElement) == 'CE_CO') || ( (root.metadata | uriLastElement) == 'CE_TS')">
				<i class="icon-plus"></i>
			</a> <a class="btn btn-mini btn-danger" href=""
				ng-click="showSubTerms(root.uri,root.relatedTerm.uri)"
				ng-hide="( (root.metadata | uriLastElement) == 'TOPCAT' )  || ( (root.metadata | uriLastElement) == 'ROOT')"><i
				class="icon-arrow-down icon-white"></i></a>
		</div>
		<label class="control-label">&nbsp;&nbsp;<span class="label">{{root.metadata
				| uriLastElement}}</span>&nbsp;&nbsp;<span
			class=" {{(zoomOn==root) &&  'label label-info' || '' }}">{{root.label}}</span>
			&nbsp;&nbsp;<a class="btn btn-mini" href="" ng-click="unshow(zoomOn)"
			ng-show="(showed !=null) && (zoomOn==root)"><i
				class="icon-zoom-out"></i></a></label>
	</div>

	<div
		ng-repeat="member in root.members | orderBy : ['metadata','label']">
		<div class="btn-toolbar"
			ng-show="showed==null || showed == member.uri">
			<label class="control-label">&nbsp;&nbsp;<i
				class="icon-minus"></i>&nbsp;&nbsp;
			</label>
			<div class="btn-group">
				<a class="btn btn-mini" href="" ng-click="show(member)"><i
					class="icon-zoom-in"></i></a> <a class="btn btn-mini" href=""
					ng-click="explore(member.uri)"
					ng-hide="( (member.metadata | uriLastElement) == 'CE_CD' )  || ( (member.metadata | uriLastElement) == 'CE_PQ') || ( (member.metadata | uriLastElement) == 'CE_CO') || ( (member.metadata | uriLastElement) == 'CE_TS')">
					<i class="icon-plus"></i>
				</a> <a class="btn btn-mini btn-danger" href=""
					ng-click="showSubTerms(member.uri,member.relatedTerm.uri,null)"
					ng-hide="( (member.metadata | uriLastElement) == 'TOPCAT' )  || ( (member.metadata | uriLastElement) == 'ROOT')"><i
					class="icon-arrow-down icon-white"></i></a>
			</div>
			<label class="control-label">&nbsp;&nbsp;<span class="label">{{member.metadata
					| uriLastElement}}</span>&nbsp;&nbsp;<span
				class=" {{(zoomOn==member) &&  'label label-info' || '' }}">{{member.label}}</span>&nbsp;&nbsp;
				<a class="btn btn-mini" href="" ng-click="unshowForLeaf(zoomOn)"
				ng-show="(showed !=null) && (zoomOn==member)"><i
					class="icon-zoom-out"></i></a></label>
		</div>

	</div>

</form>



<div class="form-search">
	<div ng-repeat="level in termHistory ">
		<div class="btn-toolbar"
			ng-show="hideView==false || (level.uri==showedSubTerm)">
			<label class="control-label">{{$index+2 | goodtab}}<i
				class="icon-minus"></i>&nbsp;&nbsp;
			</label>
			<div class="btn-group">
				<a class="btn btn-mini" href="" ng-click="showTerm(level)"><i
					class="icon-zoom-in"></i></a> <a class="btn btn-mini  btn-danger"
					href="" ng-click="showSubTerms(null,level.uri,level)"><i
					class="icon-arrow-down "></i></a>
			</div>
			<label class="control-label">&nbsp;&nbsp;<span
				class="label label-important">SubTerm</span>&nbsp;&nbsp; <span
				class=" {{(zoomOnSubTerm==level) &&  'label label-info' || '' }}">{{level.preflabel}}</span>&nbsp;&nbsp;
				<a class="btn btn-mini" href="" ng-click="unShowTerm(zoomOnSubTerm)"
				ng-show="(showedSubTerm !=null) && (zoomOnSubTerm==level)"><i
					class="icon-zoom-out"></i></a> &nbsp;&nbsp;
			</label>
		</div>

	</div>
	<div
		ng-repeat="narrower in termView.narrowers | orderBy : ['preflabel','skosNotation']">
		<div class="btn-toolbar"
			ng-show="hideView==false || (narrower.uri==showedSubTerm)">
			<label class="control-label">{{termHistory.length+2 |
				goodtab}}<i class="icon-minus"></i>&nbsp;&nbsp;
			</label>
			<div class="btn-group">
				<a class="btn btn-mini" href="" ng-click="showTerm(narrower)"><i
					class="icon-zoom-in"></i></a> <a class="btn btn-mini  btn-danger"
					href="" ng-click="showSubTerms(null,narrower.uri,null)"><i
					class="icon-arrow-down icon-white"></i></a>
			</div>
			<label class="control-label">&nbsp;&nbsp;<span
				class="label label-important">SubTerm</span>&nbsp;&nbsp; <span
				class=" {{(zoomOnSubTerm==narrower) &&  'label label-info' || '' }}">{{narrower.preflabel}}</span>&nbsp;&nbsp;
				<a class="btn btn-mini" href="" ng-click="unShowTerm(zoomOnSubTerm)"
				ng-show="(showedSubTerm !=null) && (zoomOnSubTerm==narrower)"><i
					class="icon-zoom-out"></i></a> &nbsp;&nbsp;
			</label>
		</div>
	</div>
</div>

<div ng-show="zoomOn !=null && hideView==true">
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Key</th>
				<th>Value</th>
			</tr>
		</thead>
		<tr>
			<td>metadata</td>
			<td><span class="label">{{zoomOn.metadata |
					uriLastElement}}</span></td>
		</tr>
		<tr>
			<td>uri</td>
			<td>{{zoomOn.uri}}</td>
		</tr>
		<tr>
			<td>memberOfUri</td>
			<td>{{zoomOn.memberOfUri}}</td>
		</tr>
		<tr>
			<td>label</td>
			<td>{{zoomOn.label}}</td>
		</tr>
		<tr>
			<td><span class="label label-important">relatedTerm.uri</span></td>
			<td>{{zoomOn.relatedTerm.uri}}</td>
		</tr>
		<tr>
			<td><span class="label label-important">relatedTerm.codingSchemeOID</span></td>
			<td>{{zoomOn.relatedTerm.codingSchemeOID}}</td>
		</tr>
		<tr>
			<td><span class="label label-important">relatedTerm.codingSchemeName</span></td>
			<td>{{zoomOn.relatedTerm.codingSchemeName}}</td>
		</tr>
		<tr>
			<td><span class="label label-important">relatedTerm.skosNotation</span></td>
			<td>{{zoomOn.relatedTerm.skosNotation}}</td>
		</tr>
		<tr>
			<td><span class="label label-important">relatedTerm.preflabel</span></td>
			<td>{{zoomOn.relatedTerm.preflabel}}</td>
		</tr>
		<tr ng-show="zoomOn.unit!=null">
			<td>unit</td>
			<td>{{zoomOn.unit.codingSchemeName}} : {{zoomOn.unit.preflabel}}
				[{{zoomOn.unit.skosNotation}}]</td>
		</tr>
		<tr ng-show="zoomOn.value!=null">
			<td>value</td>
			<td>{{zoomOn.value}}</td>
		</tr>
	</table>
</div>

<div ng-show="zoomOnSubTerm !=null && hideView==true">
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Key</th>
				<th>Value</th>
			</tr>
		</thead>
		<tr>
			<td><span class="label label-important">uri</span></td>
			<td>{{zoomOnSubTerm.uri}}</td>
		</tr>
		<tr>
			<td><span class="label label-important">codingSchemeOID</span></td>
			<td>{{zoomOnSubTerm.codingSchemeOID}}</td>
		</tr>
		<tr>
			<td><span class="label label-important">codingSchemeName</span></td>
			<td>{{zoomOnSubTerm.codingSchemeName}}</td>
		</tr>
		<tr>
			<td><span class="label label-important">skosNotation</span></td>
			<td>{{zoomOnSubTerm.skosNotation}}</td>
		</tr>
		<tr>
			<td><span class="label label-important">preflabel</span></td>
			<td>{{zoomOnSubTerm.preflabel}}</td>
		</tr>
	</table>
</div>