<p>Here is a list of mapping configuration you created. You can change/set the current running mapping conf by clicking the corresponding "Set the current" button.
</p>

<p>You can also create a new Configuration by clicking here:  <a href="#myModal" ng-click="initModal()" role="button" class="btn" data-toggle="modal" data-keyboard="false" data-backdrop="static" >New Configuration</a> </p>

<table class="table table-bordered">
<thead><tr class="success"><th>Set the current</th><th>Label</th><th>Creation Date</th></tr></thead>
<tr ng-repeat="conf in admin.fullconfig | orderBy :'-creationDate'">
	<td><button ng-click="change(conf.path)"><i class="icon-thumbs-up"></i></button></td><td>{{conf.label}}&nbsp;<i ng-class="conf.current &&  'icon-check' || ''"></i></td> <td>{{conf.creationDate | date:'yyyy-MM-dd HH:mm:ss Z'}}</td> </td>
</tr>
</table>


 <!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
			
			<div class="modal-header">
				<div ng-show="freeze">&nbsp;  <div class="alert alert-error">Please wait</div>&nbsp;</div>
				<div ng-hide="freeze">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-hide="treatment !=null">×</button>
					<h3 id="myModalLabel">Upload Mapping CSV File Process </h3>
					<h4 ng-hide="report.mappingConfigIsPossible || treatment!=null">Choose a mapping csv file*<br/>  </h4>
					<div ng-hide="freeze">
					<div class="alert alert-error" ng-show="minimessage.length >0">{{minimessage}}</div>
					<div class="progress progress-success progress-striped active" ng-show="treatment !=null">
						<div  class="bar" ng-style="progressStyle " ></div>
					</div>
					<div ng-show="treatment !=null">Treatment Progress Information : <i class="badge badge-info" ng-show="treatment !=null">{{100-percent| number:2}}%</i></div>
					<div ng-show="report != null" class="alert">
					    <strong>{{report.mainMessage}}</strong>
					  
					   <p> Lines : {{report.nbTotalLines}} / Lines Of Comments (# or empty Lines) : {{report.nbCommentsLines}}</p>
					    <p> CentralCodes Declared : {{report.nbCentralDeclared}} / CentralCodes Validated : {{report.nbCentralValid}}</p>
					 </div>
					</div>
					<div class="modal-body">
						
					    <div>
					    	<table class="table table-bordered">
					   			<tr ng-repeat="line in report.lineIssues"><td>{{line}}</td></tr>
					   		</table>
					    </div>
					 
					
					
					</div>
				</div>
			</div>
			<div class="modal-footer" >
			 <div>&nbsp;</div>
			 <div ng-hide="freeze || treatment !=null">
			 	  <div ng-hide="report.mappingConfigIsPossible">* click next button to select a file.<file-upload /> </div>
			 	  <div ng-show="report.mappingConfigIsPossible"> <form ng-submit="createConfig()" class="form-search" > <input type="text" ng-model="label"  placeholder="a label for this mapping." />&nbsp;<input class="btn btn-primary"  type="submit" value="create Mapping"/></form></div> 
			  </div>
			<!-- <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<button class="btn btn-primary">Save changes</button> -->
			</div>
			
  </div>
