

<form ng-submit="search()">
	<legend>
		You are searching from
		<o class="badge badge-warning">{{type}}</o>
		side of your current mapping configuration.
	</legend>

	<fieldset>
		<label class="select"> <select class="select" ng-model="type">
				<option value="local">Local Code Search</option>
				<option value="central">Central Code Search</option>
		</select> : change the point of view of your search.
		</label> <label class="text"> <input type="text" ng-model="pattern"
			size="30" placeholder="input search place"> : write your
			pattern search / code here.
		</label> <label class="checkbox"> <input ng-model="exactMatch"
			type="checkbox"> exact Match
		</label> <label class="select" ng-show="type=='central' && exactMatch==true">
			<select ng-model='schemeSelected'
			ng-options="scheme.preflabel.lit.label for scheme in schemes | orderBy :'preflabel.lit.label' "></option>
		</select> For Exact Match Code with Central codes, a terminology need to be
			selected.
		</label> <label class="submit">
			<button type="submit" class="btn">Submit</button> <img
			src="img/ajax-loader.gif" ng-show="workInprogress" />
		</label>
	</fieldset>
</form>
<div class="help-block"
	ng-show="searchResult !=null && searchResult.length > 0">
	<span class="badge badge-success">{{searchResult.length}}</span>
	code(s) as result.
</div>
<div ng-show="minimessage!=null" class="alert alert-error">{{minimessage}}</div>
<div ng-show="mess !=null" class="alert alert-info">{{mess}}</div>

<div ng-show="searchResult !=null"
	style="height: 200px; overflow-y: scroll;">
	<table cellpadding="0" cellspacing="0" border="0"
		class="table table-striped table-bordered">
		<tr ng-repeat="res in searchResult| orderBy :'id'">
			<td>
				<button class="btn btn-warning" ng-click="showMe(res.id)">{{res.id}}</button>
			</td>
			<td>{{res.label}}</td>
		</tr>
	</table>
</div>
<br>
<div ng-show="showMapping">
	<span title="{{mapping.label}}" class="badge badge-warning">{{mapping.id}}</span>
	&nbsp;<i ng-click="hideMapping()" class="icon-remove-sign"></i><br />
	&nbsp;&nbsp;&nbsp;<i class=" icon-arrow-down"></i><br />
	<div ng-repeat="rel in mapping.relationsTo">
		<span class="badge badge-success">{{rel.name}}</span><i
			class=" icon-arrow-right"></i> <span title="{{rel.target.label}}"
			class="badge badge-info">{{rel.target.id}}</span>
	</div>

</div>
