<p>
	Information status <i ng-show="systemStatus !=null"
		class="badge badge-warning">{{systemStatus.blocked && 'system is
		blocked' || ''}}</i>
</p>

<div class="{{bootstrapAlertState}}">
	<strong>{{status.code}}</strong> {{status.message}}
</div>

<div ng-show="initButtonView">
	<form ng-submit="init()">
		<input class="btn" type="submit" value="system status refresh" />
	</form>
</div>





<div>&nbsp;</div>