<p>
	These are your current system settings
	<button class='btn btn-success' ng-click='refresh()'>refresh</button>
</p>

<table class="table table-bordered">
	<thead>
		<tr class="success">
			<th>Category</th>
			<th>Param</th>
			<th>Value</th>
		</tr>
	</thead>
	<tr ng-repeat="property in properties | orderBy:['level','java_name' ]"
		ng-class="$index %2 == 0 && 'warning' || ''">
		<td>{{property.level}}</td>
		<td>{{property.java_name}}</td>
		<td>{{property.value}}</td>
	</tr>
</table>

<p class="success">update of these parameters are made by editing
	your conf.properties file. refresh to check your editing.</p>

