
<table class="table table-bordered" ng-hide="showMapping">
	<thead>
		<tr class="success">
			<th>Code</th>
		</tr>
	</thead>
	<tr ng-repeat="code in current | orderBy :'skosNotation'">
		<td><button class="btn btn-warning"
				ng-click="showMe(code.skosNotation)">{{code.skosNotation}}</button>
			{{code.preflabel.lit.label}}</td>
	</tr>
</table>

<div ng-show="showMapping">
	{{mapping.id}} is mapped with
	<div ng-repeat="rel in mapping.relationsTo">{{rel.name}} -->
		{{rel.target.label}}</div>
	<button class="btn btn-warning" ng-click="hideMapping()">Hide
		this mapping</button>
</div>




<div class="form-search" ng-show="explored !=null">
	<div
		ng-repeat="member in explored.members | orderBy :'relatedTerm.preflabel'">

		<div class="btn-toolbar">
			<label class="control-label">&nbsp;&nbsp;<i
				class="icon-arrow-right"></i>&nbsp;&nbsp;
			</label>
			<div class="btn-group">
				<a class="btn btn-mini" href="" ng-click="show(member)"><i
					class="icon-zoom-in"></i></a> <a class="btn btn-mini" href=""
					ng-click="explore(member.uri)"><i class="icon-plus"></i></a> <a
					class="btn btn-mini" href="" ng-click="explore(member.uri)"><i
					class="icon-list"></i></a>
			</div>
			<label class="control-label">&nbsp;&nbsp;<span class="label">{{member.metadata
					| uriLastElement}}</span>&nbsp;&nbsp;{{member.relatedTerm.preflabel}}
			</label>
		</div>

	</div>

</div>