<script>
$(".tooltiped").tooltip();
</script>

<div>
	Tooltips for button use : <span class="btn btn-mini tooltiped"
		data-toggle="tooltip" data-placement="bottom" title=""
		data-original-title="show me details of this element (term or scheme)"><i
		class="icon-zoom-in"></i></span> <span class="btn btn-mini tooltiped"
		data-toggle="tooltip" data-placement="bottom" title=""
		data-original-title="close this element informations."><i
		class="icon-zoom-out"></i></span> <span
		class="btn btn-mini btn-danger tooltiped" data-toggle="tooltip"
		data-placement="bottom" title=""
		data-original-title="go down in the hierarchy"><i
		class="icon-arrow-down icon-white"></i></span> <span
		class="btn btn-mini btn-warning tooltiped" data-toggle="tooltip"
		data-placement="bottom" title=""
		data-original-title="go up in the hierarchy"><i
		class="icon-arrow-up icon-white"></i></span>


</div>


<div>&nbsp;</div>
<div>&nbsp;</div>

<div id="navform" class="form-search">
	<legend>
		Navigate through the EHR4CR Terminology Subsets <a
			class="btn btn-mini btn-warning" href="" ng-click="showRoot()">I'm
			lost, show me the ROOT</a>
	</legend>
	<div class="form-search" ng-show="showSearch">

		<input ng-model="pattern" type="text"
			class="input-medium search-query"> <select
			ng-model='schemeSelected'
			ng-options="scheme.label for scheme in schemes | orderBy :'preflabel.label' "></option>
		</select>
		<div class="btn-group">
			<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				search <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<!-- dropdown menu links -->
				<li><a href ng-click="searchFromCode()">... a code</a></li>
				<li><a href ng-click="searchFromLabel()">... a label</a></li>
			</ul>
		</div>

		<img src="img/ajax-loader.gif" ng-show="workInprogress" /> <i
			class="alert alert-warning" ng-show="searchMessage!=null">{{searchMessage}}</i>
	</div>

	<div ng-show="result!=null">
		<div ng-repeat="term in result | orderBy : ['preflabel']">
			<div class="btn-toolbar hoverDiv">
				<label class="control-label"></i>&nbsp;&nbsp;{{$index+1}}&nbsp;&nbsp;<span
					ng-show="$index+1 <10">&nbsp;&nbsp;</span></label>
				<div class="btn-group">
					<a class="btn btn-mini" href="" ng-click="showTermDetails(term)"><i
						class="icon-zoom-in"></i></a> <a class="btn btn-mini btn-danger"
						href="" ng-click="showSubTerms(term)"><i
						class="icon-arrow-down icon-white"></i></a>

				</div>
				<label class="control-label">&nbsp;&nbsp; <span
					class="label">TERM</span> &nbsp;&nbsp; <span
					tooltip="term.preflabel"></span> &nbsp;&nbsp;
				</label>
			</div>
		</div>


	</div>
	<div ng-hide="zoom!=null || zoom2!=null || result!=null">
		<div ng-repeat="scheme in root | orderBy : ['label']">
			<div class="btn-toolbar"
				ng-show="zoomOnScheme==null || zoomOnScheme == scheme">
				<label class="control-label">&nbsp;&nbsp;<i
					class="icon-minus"></i>&nbsp;&nbsp;
				</label>
				<div class="btn-group">
					<a class="btn btn-mini" href=""
						ng-click="showSchemeDetails(scheme)"><i class="icon-zoom-in"></i></a>
					<a class="btn btn-mini btn-danger" href=""
						ng-click="showTopTerms(scheme)"><i
						class="icon-arrow-down icon-white"></i></a> <a
						class="btn btn-mini btn-warning" href="" ng-click="showRoot()"><i
						class="icon-arrow-up icon-white"></i></a>

				</div>
				<label class="control-label">&nbsp;&nbsp;<span
					class="label label-info">SCHEME</span>&nbsp;&nbsp;<span>{{scheme.label}}</span>&nbsp;&nbsp;
				</label>
			</div>
		</div>


		<div ng-repeat="father in MyFathers | orderBy : ['preflabel']">
			<div class="btn-toolbar">
				<label class="control-label">&nbsp;&nbsp;<i
					class="icon-minus"></i>&nbsp;&nbsp;
				</label>
				<div class="btn-group">
					<a class="btn btn-mini" href="" ng-click="showTermDetails(father)"><i
						class="icon-zoom-in"></i></a> <a class="btn btn-mini btn-danger"
						href="" ng-click="showSubTerms(father)"><i
						class="icon-arrow-down icon-white"></i></a> <a
						class="btn btn-mini btn-warning" href=""
						ng-click="showUpperTerms(father)"><i
						class="icon-arrow-up icon-white"></i></a>

				</div>
				<label class="control-label">&nbsp;&nbsp;<span
					class="label">TERM</span>&nbsp;&nbsp;<span>{{father.preflabel}}</span>&nbsp;&nbsp;
				</label>
			</div>
		</div>

		<div class="btn-toolbar hoverDiv" ng-show="MyTerm!=null">
			<label class="control-label">&nbsp;&nbsp;<i
				class="icon-minus"></i>&nbsp;&nbsp;
			</label>
			<div class="btn-group">
				<a class="btn btn-mini" href="" ng-click="showTermDetails(MyTerm)"><i
					class="icon-zoom-in"></i></a> <a class="btn btn-mini btn-danger"
					href="" ng-click="showSubTerms(MyTerm)"><i
					class="icon-arrow-down icon-white"></i></a> <a
					class="btn btn-mini btn-warning" href=""
					ng-click="showUpperTerms(MyTerm)"><i
					class="icon-arrow-up icon-white"></i></a>
			</div>
			<label class="control-label">&nbsp;&nbsp;<span class="label">TERM</span>&nbsp;&nbsp;<span>{{MyTerm.preflabel}}</span>&nbsp;&nbsp;
			</label>
		</div>

		<div class="btn-toolbar" ng-show="MyDownTerm!=null">
			<label class="control-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i
				class="icon-minus"></i>&nbsp;&nbsp;
			</label>
			<div class="btn-group">
				<a class="btn btn-mini" href=""
					ng-click="showTermDetails(MyDownTerm)"><i class="icon-zoom-in"></i></a>
				<a class="btn btn-mini btn-danger" href=""
					ng-click="showSubTerms(MyDownTerm)"><i
					class="icon-arrow-down icon-white"></i></a>
			</div>
			<label class="control-label">&nbsp;&nbsp;<span class="label">TERM</span>&nbsp;&nbsp;<span>{{MyDownTerm.preflabel}}</span>&nbsp;&nbsp;<i
				class="label label-important"
				ng-show="MyFathers != null && MyFathers.length > 1 ">Multi
					Parents Term</i></label>
		</div>

		<div ng-repeat="term in terms | orderBy : ['preflabel']">
			<div class="btn-toolbar hoverDiv">
				<label class="control-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i
					class="icon-minus"></i>&nbsp;&nbsp;
				</label>
				<div class="btn-group">
					<a class="btn btn-mini" href="" ng-click="showTermDetails(term)"><i
						class="icon-zoom-in"></i></a> <a class="btn btn-mini btn-danger"
						href="" ng-click="showSubTerms(term)"><i
						class="icon-arrow-down icon-white"></i></a>

				</div>
				<label class="control-label">&nbsp;&nbsp; <span
					class="label">TERM</span> &nbsp;&nbsp; <span
					tooltip="term.preflabel"></span> &nbsp;&nbsp;
				</label>
			</div>
		</div>

	</div>

	<div ng-show="zoom !=null">
		<legend>
			<span class="label">{{zoom.preflabel}}</span> <a class="btn btn-mini"
				href="" ng-click="unShow()"><i class="icon-zoom-out"></i></a>
		</legend>
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Key</th>
					<th>Value</th>
				</tr>
			</thead>
			<tr>
				<td><span class="label label-important">uri</span></td>
				<td>{{zoom.uri}}</td>
			</tr>
			<tr>
				<td><span class="label label-important">codingSchemeOID</span></td>
				<td>{{zoom.codingSchemeOID}}</td>
			</tr>
			<tr>
				<td><span class="label label-important">codingSchemeName</span></td>
				<td>{{zoom.codingSchemeName}}</td>
			</tr>
			<tr>
				<td><span class="label label-important">skosNotation</span></td>
				<td>{{zoom.skosNotation}}</td>
			</tr>
			<tr>
				<td><span class="label label-important">preflabel</span></td>
				<td>{{zoom.preflabel}}</td>
			</tr>
		</table>

	</div>

	<div ng-show="zoom2 !=null">
		<legend>
			<span class="label label-info">{{zoom2.label}}</span> <a
				class="btn btn-mini" href="" ng-click="unShow()"><i
				class="icon-zoom-out"></i></a>
		</legend>
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Key</th>
					<th>Value</th>
				</tr>
			</thead>
			<tr>
				<td><span class="label label-important">uri</span></td>
				<td>{{zoom2.uri}}</td>
			</tr>
			<tr>
				<td><span class="label label-important">oid</span></td>
				<td>{{zoom2.oid}}</td>
			</tr>

			<tr>
				<td><span class="label label-important">label</span></td>
				<td>{{zoom2.label}}</td>
			</tr>
			<tr>
				<td><span class="label label-important">topTerms Number</span></td>
				<td>{{zoom2.topTerms.length}}</td>
			</tr>

		</table>

	</div>
</div>



