<!doctype html>
<html lang="en" xmlns:ng="http://angularjs.org" id="ng-app"
	ng-app="myApp">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/ubiqore.css" rel="stylesheet">


<head>

<link rel="shortcut icon" href="static/favicon.ico">

<!--[if lte IE 8]>
     <script>
       document.createElement('ng-include');
       document.createElement('ng-pluralize');
       document.createElement('ng-view');
       document.createElement('ng-view');
        document.createElement('goodtab');
         document.createElement('tooltip');
       
       // Optionally these for CSS
       document.createElement('ng:include');
       document.createElement('ng:pluralize');
       document.createElement('ng:view');
     </script>
   <![endif]-->

<!--[if lte IE 8]>
     <script src="lib/json3.min.js"></script>
   <![endif]-->

<meta charset="utf-8">
<title>EHR4CR</title>
<link rel="stylesheet" href="css/app.css" />

</head>
<body>

	<div class="container-fluid">

		<div class="row-fluid">
			<h3>current EHR4CR Terminologies subsets content & DataElements.</h3>
		</div>


		<!--  <div class="row-fluid">
	     <div class="navbar">
          <div class="navbar-inner"> 
            <div class="container">
              <ul class="nav">
                <li ng-class="header == 'home' && 'active' || 'disabled'"><a href="#">Home</a></li>
                <li ng-class="header == 'conf' && 'active' || ''"><a href="#/configurations">Mappings</a></li>
               	<li ng-class="header == 'current' && 'active' || ''"><a href="#/current">Current</a></li>
                <li ng-class="header == 'central' && 'active' || ''"><a href="#/central">Central</a></li>
                <li ng-class="header == 'central2' && 'active' || ''"><a href="#/central2">Central (bis)</a></li>
                 <li ng-class="header == 'term' && 'active' || ''"><a href="#/term">Terminologies</a></li>
                <li ng-class="header == 'properties' && 'active' || ''"><a href="#/properties">Properties</a></li>
              </ul>
            </div>
          </div>
        </div>/.navbar -->


		<div class="row-fluid">


			<ul class="nav nav-pills">
				<li
					class="dropdown {{ ( (header == 'central')|| (header == 'central2') || (header == 'term') )  && 'active' || ''}}  ">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Central
						Navi. <b class="caret"></b>
				</a>
					<ul class="dropdown-menu">
						<li ng-class="header == 'central' && 'active' || ''"><a
							href="#/central">Data Elements</a></li>
						<li ng-class="header == 'central2' && 'active' || ''"><a
							href="#/central2">Data Elements (Experimental)</a></li>
						<li ng-class="header == 'central3' && 'active' || ''"><a
							href="#/central3">Data Elements Ter</a></li>
						<li ng-class="header == 'term' && 'active' || ''"><a
							href="#/term">Terminologies</a></li>
					</ul>
				</li>
				<li ng-class="header == 'test' && 'active' || ''"><a
					href="#/test">services test</a></li>


			</ul>

		</div>
		<!-- /.navbar -->





	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div ng-view></div>
		</div>
	</div>


	<!--  <ul class="btn-group" >
    <li><a href="#/view1">view1</a></li>
    <li><a href="#/view2">view2</a></li>
  </ul>
 -->

	<!-- <div><form action="upload" method="post" enctype="multipart/form-data">
    <input type="text" name="description" />
    <input type="file" name="file" />
    <input type="submit" />
</form></div> -->
	<!--   <form id="uploadform" name="uploadform" action="services/rest/mappingservices/upload" method="POST" target="_self" enctype="multipart/form-data"> 
		<input type="file" name="content"> 
		<input type="submit" value="Upload It" />
	</form>  

 -->
	<!-- <div>Time :  <span current-time></span></div>
  <div>Application Version : v<span app-version></span></div> -->

	<!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
  -->
	<script src="lib/bootstrap/jquery.js"></script>
	<script src="lib/angular/angular.js"></script>
	<script src="lib/bootstrap/bootstrap.js"></script>
	<script src="js/app.js"></script>
	<script src="js/services.js"></script>

	<script src="js/filters.js"></script>
	<script src="js/directives.js"></script>
	<script src="js/controllers.js"></script>

</body>
</html>
